.container{   
    display: flex;
    align-items: flex-end;
    margin: 0 5px;
    background-color: rgb(204, 255, 239);
    background-position: center center;
    background-size: cover;
    height: 100%;
    border-radius: calc(0.008*100vh);
    width: calc(30%/4);
    transition: width 0.1s ease-in-out;
    cursor: pointer;
}

.content{
    padding: 10%;
    width: 100%;
    position: relative;
}

.content:after{
    content: "";
    display: block;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,0.96));
    z-index: 90;

}

.title{
    color: #fff;
    font-size: 3em;
    line-height: 1.2;
    margin: 0;
    z-index: 100;
    position: relative;
}

.caption{
    color: white;
    position: relative;
    z-index: 100;
}

.active{
    width: 70%;
}

.icon{
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-color: rgba(71, 192, 135, 0.708);
    margin: 0 auto;
    position: relative;
    z-index: 100;
}
.caption{
    text-align: justify;    
}

.container{
    overflow: hidden;
}

.container .title, .container .caption{
    display: none;
}

.container.active .title, .container.active .caption{
    display: block;
}

.container.active .icon{
    margin: 0;
}

.cta{
    text-align: end;
}

.cta a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: medium;
    transition: all 0.3s ease-in-out;
}

.cta a:hover{
    margin-right: 10px;
}
